sudo: false
language: python
python:
    - "3.5.2"
    - "3.6"
    - "3.7"

install: pip install tox-travis

script:
    - tox

after_success:
    - pip install -e .[test]
    - pytest --cov=adtk --cov-config=.coveragerc
    - coveralls

branches:
    only:
    - master

notifications:
  email: false
